PANAPI/NSDLResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="NSDLResponse">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="^" dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" minOccurs="0" name="id" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="panNo" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="exist" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" minOccurs="0" name="lastname" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value5" minOccurs="0" name="firstname" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value6" minOccurs="0" name="middlename" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value7" minOccurs="0" name="title" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="value8" minOccurs="0" name="issueDate" type="xsd:string"/>
                                                    <xsd:element minOccurs="0" name="Optiona1" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Optiona2" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Optiona3" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>